<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
	<% include ../partials/nav.ejs %>
	<h1>Individual Artist Show Page</h1>
	<%=artist.name%>
	<br>
	<%=artist.city%>
	<br>
	<%=artist.yearsExp%>
	<br>
	<br>
	<img style="height: 25%; width: 25%" src="<%=artist.urls%>"><br>


	<a href="/artists/<%=artist.id%>/edit">Edit Artist</a>
		
	<% } -%>
	<br>

	<a href="/artists/<%=artist.id%>/edit">Add New Photo</a>
    <form action="/artists/<%=artist.id%>?_method=PUT" method="POST">
    	Add to Favorites: <input type="submit" name="favArtist">
    </form>
	<form action="/artists/<%=artist.id%>?_method=DELETE" method="POST">
		Delete Artist:<input type="submit" name="Delete Artist">
	</form>
	<a href="http://localhost:3000/artists/<%=artist.id%>/email">Email Artist to Schedule Appointment</a>

</body>
</html>